[submodule "papers/instant-ngp"]
	path = papers/instant-ngp
	url = https://github.com/duico/instant-ngp
[submodule "papers/torch-ngp"]
	path = papers/torch-ngp
	url = https://github.com/ashawkey/torch-ngp.git
[submodule "papers/LLFF"]
	path = papers/LLFF
	url = https://github.com/Fyusion/LLFF
[submodule "papers/Ha-NeRF"]
	path = papers/Ha-NeRF
	url = https://github.com/rover-xingyu/Ha-NeRF
[submodule "papers/nerf_pl"]
	path = papers/nerf_pl
	url = https://github.com/kwea123/nerf_pl
